#Logs
logs 
*.logs

#node module
frontend/node_modules
backend/node_modules

#Environment variables
frontend/.env
backend/.env

# Backend images (too large for deployment)
backend/images/*.jpg
backend/images/*.jpeg
backend/images/*.png
backend/images/*.webp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# Local Netlify folder
.netlify
